.intro__list{
    max-width: 690px;
    margin: 32px 0 0 0;
    padding: 0;
}

@media screen and (max-width: 692px){
    .intro__list{
        max-width: 530px;
    }
}

@media screen and (max-width: 579px) and (min-width: 321px){
    .intro__list{
        max-width: 100%;
    }
}

@media screen and (max-width: 320px){
    .intro__list{
        max-width: 288px;
    }
}

@media screen and (max-width: 319px){
    .intro__list-item{
        width: 100%;
    }
}