.header__logo {
  width: 176px;
  height: 52px;
  justify-content: start;
  display: block;
}

@media screen and (max-width: 475px) {
  .header__logo {
    width: 150px;
    height: 32px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 142px;
    min-height: 42px;
  }
}
